---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><strong>Written by</strong>: {frontmatter.author} on <em>{frontmatter.pubDate}</em></p>
  <p><strong>Tags</strong>: { [...frontmatter.tags].join(', ')}</p>
  <slot />
</BaseLayout>
